nav(class="navbar navbar-expand-lg navbar-light bg-light")
	div(class="container")
		a(class="navbar-brand" href="/users")
			img(src="/images/logo-coders-tokyo.png" width="30" height="30" alt="")
		button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
			span(class="navbar-toggler-icon")
		div(class="collapse navbar-collapse" id="navbarSupportedContent")
			ul(class="navbar-nav mr-auto")
				li.nav-item.dropdown
					a#navbarDropdown.nav-link.dropdown-toggle(href='/users', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') User
					.dropdown-menu(aria-labelledby='navbarDropdown')
						a.dropdown-item(href='/users') List User
						a.dropdown-item(href='/users/create') Create
				li(class="nav-item")
					a(class="nav-link" href="/transfer/create") Transfer
				li(class="nav-item")
					a(class="nav-link" href="/products") Products
				li(class="nav-item")
					a(class="nav-link" href="#")= 'Cart ' + numbers
