extends ../layouts/common.pug

block content
	h1 List user
	table(class="table")
		thead
			tr
				th(scope="col") #
				th(scope="col") Name
				th(scope="col") Phone
				th(scope="col") Action
		tbody
			- var n = 1;
			each user in users
				tr
					th(scope="row")= n++
					td= user.name
					td= user.phone
					td
						a(href="/users/" + user.id) View
